<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>게시판</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" th:href="@{/}">게시판</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a th:if="${session.user != null}" class="nav-link" th:href="@{/signout}" th:text="${session.user.name} + ' (로그아웃)'"></a>
                <a th:unless="${session.user != null}" class="nav-link" th:href="@{/signin}" th:text="로그인"></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-3">
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="row my-3">
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="card-text" th:text="${question.content}"></div>
                    <div class="d-flex justify-content-end">
                        <div class="badge badge-light p-2 text-left">
                            <div class="mb-2" th:text="${question.user}"></div>
                            <div th:text="${question.createDate}"></div>
                        </div>
                    </div>
                    
                    <th:block th:if="${session.user != null}">
                    <div th:if="${session.user.name} == ${question.user}" class="my-3">
                        <a class="btn btn-sm btn-outline-secondary">수정</a>
                        <a class="delete btn btn-sm btn-outline-secondary">삭제</a>
                    </div>
                    </th:block>
                    
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom my-3 py-2" th:text="${#lists.size('answerList')-1} + '개의 답변이 있습니다.'"></h5>
	<th:block th:each="answer : ${answerList}">
    <a name="answer_{{ answer.id }}"></a>
    <div class="row my-3">
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="card-text" th:text="${answer.content}"></div>
                    <div class="d-flex justify-content-end">
                        <div class="badge badge-light p-2 text-left">
                            <div class="mb-2" th:text="${answer.user}"></div>
                            <div th:text="${answer.createDate}"></div>
                        </div>
                    </div>
                    <div th:if="${session.user.name} == ${answer.user}" class="my-3">
                        <a class="btn btn-sm btn-outline-secondary">수정</a>
                        <a class="delete btn btn-sm btn-outline-secondary">삭제</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</th:block>

    <form action="/answer/create" method="post" class="my-3">
        <div class="form-group">
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>

        <input type="hidden"  name="question_id" th:value = "${question.id}" >
        <input type="submit" value="답변등록" class="btn btn-primary">
    </form>
</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>



