<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border ='1'> 
        <tr th:each="order : {list}">
            <td th: text = "${order.id}"></td>
            <td th: text = "${order.name}"></td>
            <td th: text = "${order.count}"></td>
            <td th: text = "${order.customer.name}"></td>
            <td th: text = "${order.customer.job}"></td>



        </tr>
    </table>
    
</body>
</html>